@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
a,
span,
ul,
body,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}
